In [ ]:
!pip install pyspark

In [32]:
import pyspark

In [33]:
# import os
# import sys

# os.environ['PYSPARK_PYTHON'] = sys.executable
# os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

In [34]:
#Start spark session
from pyspark.sql import SparkSession
ss = SparkSession.builder.appName('pysparkLearning').getOrCreate()
ss

In [35]:
pyspark_df = ss.read.option('header','true').csv("PySparkTestData.csv",inferSchema=True)
pyspark_df.printSchema()

root
 |-- Last name: string (nullable = true)
 |--  "First name": string (nullable = true)
 |--  "SSN": string (nullable = true)
 |--         "Test1": string (nullable = true)
 |--  "Test2": double (nullable = true)
 |--  "Test3": double (nullable = true)
 |--  "Test4": double (nullable = true)
 |--  "Final": string (nullable = true)
 |--  "Grade": string (nullable = true)

In [36]:
pyspark_df.show()

+---------+----------------+--------------------+---------------+--------+--------+--------+--------+--------+
|Last name|    "First name"|               "SSN"|        "Test1"| "Test2"| "Test3"| "Test4"| "Final"| "Grade"|
+---------+----------------+--------------------+---------------+--------+--------+--------+--------+--------+
|  Alfalfa|      "Aloysius"|       "123-45-6789"|           40.0|    90.0|   100.0|    83.0|    49.0|    "D-"|
|   Alfred|    "University"|       "123-12-1234"|           41.0|    97.0|    96.0|    97.0|    48.0|    "D+"|
|    Gerty|        "Gramma"|       "567-89-0123"|           41.0|    80.0|    60.0|    40.0|    44.0|     "C"|
|  Android|      "Electric"|       "087-65-4321"|           42.0|    23.0|    36.0|    45.0|    47.0|    "B-"|
|  Bumpkin|          "Fred"|       "456-78-9012"|           43.0|    78.0|    88.0|    77.0|    45.0|    "A-"|
|   Rubble|         "Betty"|       "234-56-7890"|           44.0|    90.0|    80.0|    90.0|    46.0|    "C-"|
|   Noshow|         "Cecil"|       "345-67-8901"|           45.0|    11.0|    -1.0|     4.0|    43.0|     "F"|
|     Buff|           "Bif"|        "632-79-9...|           46.0|    20.0|    30.0|    40.0|    50.0|    "B+"|
|  Airpump|        "Andrew"|       "223-45-6789"|  49.0      1.0|    90.0|   100.0|    83.0|     "A"|    null|
|   Backus|           "Jim"|        "143-12-1...|           48.0|     1.0|    97.0|    96.0|    97.0|    "A+"|
|Carnivore|           "Art"|        "565-89-0...|           44.0|     1.0|    80.0|    60.0|    40.0|    "D+"|
|    Dandy|           "Jim"|        "087-75-4...|           47.0|     1.0|    23.0|    36.0|    45.0|    "C+"|
| Elephant|           "Ima"|        "456-71-9...|           45.0|     1.0|    78.0|    88.0|    77.0|    "B-"|
| Franklin|         "Benny"|       "234-56-2890"|           50.0|     1.0|    90.0|    80.0|    90.0|    "B-"|
|   George|           "Boy"|        "345-67-3...|           40.0|     1.0|    11.0|    -1.0|     4.0|     "B"|
|Heffalump|        "Harvey"|       "632-79-9439"|           30.0|     1.0|    20.0|    30.0|    40.0|     "C"|
+---------+----------------+--------------------+---------------+--------+--------+--------+--------+--------+

In [37]:
print(type(pyspark_df))

print(pyspark_df.dtypes)

<class 'pyspark.sql.dataframe.DataFrame'>
[('Last name', 'string'), (' "First name"', 'string'), (' "SSN"', 'string'), ('        "Test1"', 'string'), (' "Test2"', 'double'), (' "Test3"', 'double'), (' "Test4"', 'double'), (' "Final"', 'string'), (' "Grade"', 'string')]

In [38]:
pyspark_df.head(5)

[Row(Last name='Alfalfa',  "First name"='   "Aloysius"',  "SSN"='   "123-45-6789"',         "Test1"=' 40.0',  "Test2"=90.0,  "Test3"=100.0,  "Test4"=83.0,  "Final"='    49.0',  "Grade"='   "D-"'),
 Row(Last name='Alfred',  "First name"='    "University"',  "SSN"=' "123-12-1234"',         "Test1"=' 41.0',  "Test2"=97.0,  "Test3"=96.0,  "Test4"=97.0,  "Final"='    48.0',  "Grade"='   "D+"'),
 Row(Last name='Gerty',  "First name"='     "Gramma"',  "SSN"='     "567-89-0123"',         "Test1"=' 41.0',  "Test2"=80.0,  "Test3"=60.0,  "Test4"=40.0,  "Final"='    44.0',  "Grade"='   "C"'),
 Row(Last name='Android',  "First name"='   "Electric"',  "SSN"='   "087-65-4321"',         "Test1"=' 42.0',  "Test2"=23.0,  "Test3"=36.0,  "Test4"=45.0,  "Final"='    47.0',  "Grade"='   "B-"'),
 Row(Last name='Bumpkin',  "First name"='   "Fred"',  "SSN"='       "456-78-9012"',         "Test1"=' 43.0',  "Test2"=78.0,  "Test3"=88.0,  "Test4"=77.0,  "Final"='    45.0',  "Grade"='   "A-"')]

In [39]:
#Select columns
pyspark_df.select([' "First name"','        "Test1"']).show()

+----------------+---------------+
|    "First name"|        "Test1"|
+----------------+---------------+
|      "Aloysius"|           40.0|
|    "University"|           41.0|
|        "Gramma"|           41.0|
|      "Electric"|           42.0|
|          "Fred"|           43.0|
|         "Betty"|           44.0|
|         "Cecil"|           45.0|
|           "Bif"|           46.0|
|        "Andrew"|  49.0      1.0|
|           "Jim"|           48.0|
|           "Art"|           44.0|
|           "Jim"|           47.0|
|           "Ima"|           45.0|
|         "Benny"|           50.0|
|           "Boy"|           40.0|
|        "Harvey"|           30.0|
+----------------+---------------+

In [40]:
#describe dataframe
pyspark_df.describe([' "First name"','        "Test1"']).show()

+-------+-------------+-----------------+
|summary| "First name"|          "Test1"|
+-------+-------------+-----------------+
|  count|           16|               16|
|   mean|         null|43.06666666666667|
| stddev|         null|4.667006790326364|
|    min|        "Bif"|             30.0|
|    max|     "Harvey"|             50.0|
+-------+-------------+-----------------+

In [41]:
#Add a new column
from pyspark.sql.functions import lit
pyspark_df=pyspark_df.withColumn("Test5",lit(0.5))

In [42]:
pyspark_df.show()

+---------+----------------+--------------------+---------------+--------+--------+--------+--------+--------+-----+
|Last name|    "First name"|               "SSN"|        "Test1"| "Test2"| "Test3"| "Test4"| "Final"| "Grade"|Test5|
+---------+----------------+--------------------+---------------+--------+--------+--------+--------+--------+-----+
|  Alfalfa|      "Aloysius"|       "123-45-6789"|           40.0|    90.0|   100.0|    83.0|    49.0|    "D-"|  0.5|
|   Alfred|    "University"|       "123-12-1234"|           41.0|    97.0|    96.0|    97.0|    48.0|    "D+"|  0.5|
|    Gerty|        "Gramma"|       "567-89-0123"|           41.0|    80.0|    60.0|    40.0|    44.0|     "C"|  0.5|
|  Android|      "Electric"|       "087-65-4321"|           42.0|    23.0|    36.0|    45.0|    47.0|    "B-"|  0.5|
|  Bumpkin|          "Fred"|       "456-78-9012"|           43.0|    78.0|    88.0|    77.0|    45.0|    "A-"|  0.5|
|   Rubble|         "Betty"|       "234-56-7890"|           44.0|    90.0|    80.0|    90.0|    46.0|    "C-"|  0.5|
|   Noshow|         "Cecil"|       "345-67-8901"|           45.0|    11.0|    -1.0|     4.0|    43.0|     "F"|  0.5|
|     Buff|           "Bif"|        "632-79-9...|           46.0|    20.0|    30.0|    40.0|    50.0|    "B+"|  0.5|
|  Airpump|        "Andrew"|       "223-45-6789"|  49.0      1.0|    90.0|   100.0|    83.0|     "A"|    null|  0.5|
|   Backus|           "Jim"|        "143-12-1...|           48.0|     1.0|    97.0|    96.0|    97.0|    "A+"|  0.5|
|Carnivore|           "Art"|        "565-89-0...|           44.0|     1.0|    80.0|    60.0|    40.0|    "D+"|  0.5|
|    Dandy|           "Jim"|        "087-75-4...|           47.0|     1.0|    23.0|    36.0|    45.0|    "C+"|  0.5|
| Elephant|           "Ima"|        "456-71-9...|           45.0|     1.0|    78.0|    88.0|    77.0|    "B-"|  0.5|
| Franklin|         "Benny"|       "234-56-2890"|           50.0|     1.0|    90.0|    80.0|    90.0|    "B-"|  0.5|
|   George|           "Boy"|        "345-67-3...|           40.0|     1.0|    11.0|    -1.0|     4.0|     "B"|  0.5|
|Heffalump|        "Harvey"|       "632-79-9439"|           30.0|     1.0|    20.0|    30.0|    40.0|     "C"|  0.5|
+---------+----------------+--------------------+---------------+--------+--------+--------+--------+--------+-----+

In [43]:

#using existing column add new col
pyspark_df = pyspark_df.withColumn('Test6',pyspark_df.Test5*4)
pyspark_df.show()

+---------+----------------+--------------------+---------------+--------+--------+--------+--------+--------+-----+-----+
|Last name|    "First name"|               "SSN"|        "Test1"| "Test2"| "Test3"| "Test4"| "Final"| "Grade"|Test5|Test6|
+---------+----------------+--------------------+---------------+--------+--------+--------+--------+--------+-----+-----+
|  Alfalfa|      "Aloysius"|       "123-45-6789"|           40.0|    90.0|   100.0|    83.0|    49.0|    "D-"|  0.5|  2.0|
|   Alfred|    "University"|       "123-12-1234"|           41.0|    97.0|    96.0|    97.0|    48.0|    "D+"|  0.5|  2.0|
|    Gerty|        "Gramma"|       "567-89-0123"|           41.0|    80.0|    60.0|    40.0|    44.0|     "C"|  0.5|  2.0|
|  Android|      "Electric"|       "087-65-4321"|           42.0|    23.0|    36.0|    45.0|    47.0|    "B-"|  0.5|  2.0|
|  Bumpkin|          "Fred"|       "456-78-9012"|           43.0|    78.0|    88.0|    77.0|    45.0|    "A-"|  0.5|  2.0|
|   Rubble|         "Betty"|       "234-56-7890"|           44.0|    90.0|    80.0|    90.0|    46.0|    "C-"|  0.5|  2.0|
|   Noshow|         "Cecil"|       "345-67-8901"|           45.0|    11.0|    -1.0|     4.0|    43.0|     "F"|  0.5|  2.0|
|     Buff|           "Bif"|        "632-79-9...|           46.0|    20.0|    30.0|    40.0|    50.0|    "B+"|  0.5|  2.0|
|  Airpump|        "Andrew"|       "223-45-6789"|  49.0      1.0|    90.0|   100.0|    83.0|     "A"|    null|  0.5|  2.0|
|   Backus|           "Jim"|        "143-12-1...|           48.0|     1.0|    97.0|    96.0|    97.0|    "A+"|  0.5|  2.0|
|Carnivore|           "Art"|        "565-89-0...|           44.0|     1.0|    80.0|    60.0|    40.0|    "D+"|  0.5|  2.0|
|    Dandy|           "Jim"|        "087-75-4...|           47.0|     1.0|    23.0|    36.0|    45.0|    "C+"|  0.5|  2.0|
| Elephant|           "Ima"|        "456-71-9...|           45.0|     1.0|    78.0|    88.0|    77.0|    "B-"|  0.5|  2.0|
| Franklin|         "Benny"|       "234-56-2890"|           50.0|     1.0|    90.0|    80.0|    90.0|    "B-"|  0.5|  2.0|
|   George|           "Boy"|        "345-67-3...|           40.0|     1.0|    11.0|    -1.0|     4.0|     "B"|  0.5|  2.0|
|Heffalump|        "Harvey"|       "632-79-9439"|           30.0|     1.0|    20.0|    30.0|    40.0|     "C"|  0.5|  2.0|
+---------+----------------+--------------------+---------------+--------+--------+--------+--------+--------+-----+-----+

In [44]:
#drop column
# pyspark_df.drop('Test5').show()
pyspark_df = pyspark_df.drop('Test5','Test6')
pyspark_df.show()

+---------+----------------+--------------------+---------------+--------+--------+--------+--------+--------+
|Last name|    "First name"|               "SSN"|        "Test1"| "Test2"| "Test3"| "Test4"| "Final"| "Grade"|
+---------+----------------+--------------------+---------------+--------+--------+--------+--------+--------+
|  Alfalfa|      "Aloysius"|       "123-45-6789"|           40.0|    90.0|   100.0|    83.0|    49.0|    "D-"|
|   Alfred|    "University"|       "123-12-1234"|           41.0|    97.0|    96.0|    97.0|    48.0|    "D+"|
|    Gerty|        "Gramma"|       "567-89-0123"|           41.0|    80.0|    60.0|    40.0|    44.0|     "C"|
|  Android|      "Electric"|       "087-65-4321"|           42.0|    23.0|    36.0|    45.0|    47.0|    "B-"|
|  Bumpkin|          "Fred"|       "456-78-9012"|           43.0|    78.0|    88.0|    77.0|    45.0|    "A-"|
|   Rubble|         "Betty"|       "234-56-7890"|           44.0|    90.0|    80.0|    90.0|    46.0|    "C-"|
|   Noshow|         "Cecil"|       "345-67-8901"|           45.0|    11.0|    -1.0|     4.0|    43.0|     "F"|
|     Buff|           "Bif"|        "632-79-9...|           46.0|    20.0|    30.0|    40.0|    50.0|    "B+"|
|  Airpump|        "Andrew"|       "223-45-6789"|  49.0      1.0|    90.0|   100.0|    83.0|     "A"|    null|
|   Backus|           "Jim"|        "143-12-1...|           48.0|     1.0|    97.0|    96.0|    97.0|    "A+"|
|Carnivore|           "Art"|        "565-89-0...|           44.0|     1.0|    80.0|    60.0|    40.0|    "D+"|
|    Dandy|           "Jim"|        "087-75-4...|           47.0|     1.0|    23.0|    36.0|    45.0|    "C+"|
| Elephant|           "Ima"|        "456-71-9...|           45.0|     1.0|    78.0|    88.0|    77.0|    "B-"|
| Franklin|         "Benny"|       "234-56-2890"|           50.0|     1.0|    90.0|    80.0|    90.0|    "B-"|
|   George|           "Boy"|        "345-67-3...|           40.0|     1.0|    11.0|    -1.0|     4.0|     "B"|
|Heffalump|        "Harvey"|       "632-79-9439"|           30.0|     1.0|    20.0|    30.0|    40.0|     "C"|
+---------+----------------+--------------------+---------------+--------+--------+--------+--------+--------+

In [45]:
pyspark_df.columns

['Last name',
 ' "First name"',
 ' "SSN"',
 '        "Test1"',
 ' "Test2"',
 ' "Test3"',
 ' "Test4"',
 ' "Final"',
 ' "Grade"']

In [46]:
#column rename
pyspark_df = pyspark_df.withColumnRenamed('Last name','LastName')\
            .withColumnRenamed(' "First name"','FirstName')\
            .withColumnRenamed(' "SSN"','SSN')\
            .withColumnRenamed('        "Test1"','Test1')\
            .withColumnRenamed(' "Test2"','Test2')\
            .withColumnRenamed(' "Test3"','Test3')\
            .withColumnRenamed(' "Test4"','Test4')\
            .withColumnRenamed(' "Final"','Final')\
            .withColumnRenamed(' "Grade"','Grade')
pyspark_df.show()

+---------+----------------+--------------------+--------------+-----+-----+-----+--------+-------+
| LastName|       FirstName|                 SSN|         Test1|Test2|Test3|Test4|   Final|  Grade|
+---------+----------------+--------------------+--------------+-----+-----+-----+--------+-------+
|  Alfalfa|      "Aloysius"|       "123-45-6789"|          40.0| 90.0|100.0| 83.0|    49.0|   "D-"|
|   Alfred|    "University"|       "123-12-1234"|          41.0| 97.0| 96.0| 97.0|    48.0|   "D+"|
|    Gerty|        "Gramma"|       "567-89-0123"|          41.0| 80.0| 60.0| 40.0|    44.0|    "C"|
|  Android|      "Electric"|       "087-65-4321"|          42.0| 23.0| 36.0| 45.0|    47.0|   "B-"|
|  Bumpkin|          "Fred"|       "456-78-9012"|          43.0| 78.0| 88.0| 77.0|    45.0|   "A-"|
|   Rubble|         "Betty"|       "234-56-7890"|          44.0| 90.0| 80.0| 90.0|    46.0|   "C-"|
|   Noshow|         "Cecil"|       "345-67-8901"|          45.0| 11.0| -1.0|  4.0|    43.0|    "F"|
|     Buff|           "Bif"|        "632-79-9...|          46.0| 20.0| 30.0| 40.0|    50.0|   "B+"|
|  Airpump|        "Andrew"|       "223-45-6789"| 49.0      1.0| 90.0|100.0| 83.0|     "A"|   null|
|   Backus|           "Jim"|        "143-12-1...|          48.0|  1.0| 97.0| 96.0|    97.0|   "A+"|
|Carnivore|           "Art"|        "565-89-0...|          44.0|  1.0| 80.0| 60.0|    40.0|   "D+"|
|    Dandy|           "Jim"|        "087-75-4...|          47.0|  1.0| 23.0| 36.0|    45.0|   "C+"|
| Elephant|           "Ima"|        "456-71-9...|          45.0|  1.0| 78.0| 88.0|    77.0|   "B-"|
| Franklin|         "Benny"|       "234-56-2890"|          50.0|  1.0| 90.0| 80.0|    90.0|   "B-"|
|   George|           "Boy"|        "345-67-3...|          40.0|  1.0| 11.0| -1.0|     4.0|    "B"|
|Heffalump|        "Harvey"|       "632-79-9439"|          30.0|  1.0| 20.0| 30.0|    40.0|    "C"|
+---------+----------------+--------------------+--------------+-----+-----+-----+--------+-------+

In [47]:
pyspark_df.columns

['LastName',
 'FirstName',
 'SSN',
 'Test1',
 'Test2',
 'Test3',
 'Test4',
 'Final',
 'Grade']

In [48]:
#Add column using list as input with existing column
pyspark_df.withColumn('Test6', pyspark_df['Test1']*5).show()

+---------+----------------+--------------------+--------------+-----+-----+-----+--------+-------+-----+
| LastName|       FirstName|                 SSN|         Test1|Test2|Test3|Test4|   Final|  Grade|Test6|
+---------+----------------+--------------------+--------------+-----+-----+-----+--------+-------+-----+
|  Alfalfa|      "Aloysius"|       "123-45-6789"|          40.0| 90.0|100.0| 83.0|    49.0|   "D-"|200.0|
|   Alfred|    "University"|       "123-12-1234"|          41.0| 97.0| 96.0| 97.0|    48.0|   "D+"|205.0|
|    Gerty|        "Gramma"|       "567-89-0123"|          41.0| 80.0| 60.0| 40.0|    44.0|    "C"|205.0|
|  Android|      "Electric"|       "087-65-4321"|          42.0| 23.0| 36.0| 45.0|    47.0|   "B-"|210.0|
|  Bumpkin|          "Fred"|       "456-78-9012"|          43.0| 78.0| 88.0| 77.0|    45.0|   "A-"|215.0|
|   Rubble|         "Betty"|       "234-56-7890"|          44.0| 90.0| 80.0| 90.0|    46.0|   "C-"|220.0|
|   Noshow|         "Cecil"|       "345-67-8901"|          45.0| 11.0| -1.0|  4.0|    43.0|    "F"|225.0|
|     Buff|           "Bif"|        "632-79-9...|          46.0| 20.0| 30.0| 40.0|    50.0|   "B+"|230.0|
|  Airpump|        "Andrew"|       "223-45-6789"| 49.0      1.0| 90.0|100.0| 83.0|     "A"|   null| null|
|   Backus|           "Jim"|        "143-12-1...|          48.0|  1.0| 97.0| 96.0|    97.0|   "A+"|240.0|
|Carnivore|           "Art"|        "565-89-0...|          44.0|  1.0| 80.0| 60.0|    40.0|   "D+"|220.0|
|    Dandy|           "Jim"|        "087-75-4...|          47.0|  1.0| 23.0| 36.0|    45.0|   "C+"|235.0|
| Elephant|           "Ima"|        "456-71-9...|          45.0|  1.0| 78.0| 88.0|    77.0|   "B-"|225.0|
| Franklin|         "Benny"|       "234-56-2890"|          50.0|  1.0| 90.0| 80.0|    90.0|   "B-"|250.0|
|   George|           "Boy"|        "345-67-3...|          40.0|  1.0| 11.0| -1.0|     4.0|    "B"|200.0|
|Heffalump|        "Harvey"|       "632-79-9439"|          30.0|  1.0| 20.0| 30.0|    40.0|    "C"|150.0|
+---------+----------------+--------------------+--------------+-----+-----+-----+--------+-------+-----+

In [49]:
#filter rows based on column condition
lname = ['Alfalfa','Alfred']
pyspark_df.where(pyspark_df.LastName.isin(lname)).show()

+--------+----------------+----------------+-----+-----+-----+-----+--------+-------+
|LastName|       FirstName|             SSN|Test1|Test2|Test3|Test4|   Final|  Grade|
+--------+----------------+----------------+-----+-----+-----+-----+--------+-------+
| Alfalfa|      "Aloysius"|   "123-45-6789"| 40.0| 90.0|100.0| 83.0|    49.0|   "D-"|
|  Alfred|    "University"|   "123-12-1234"| 41.0| 97.0| 96.0| 97.0|    48.0|   "D+"|
+--------+----------------+----------------+-----+-----+-----+-----+--------+-------+

In [50]:
#filter rows based on column condition with negation
lname = ['Alfalfa','Alfred']
pyspark_df.where(~pyspark_df.LastName.isin(lname)).show()

+---------+-------------+--------------------+--------------+-----+-----+-----+--------+-------+
| LastName|    FirstName|                 SSN|         Test1|Test2|Test3|Test4|   Final|  Grade|
+---------+-------------+--------------------+--------------+-----+-----+-----+--------+-------+
|    Gerty|     "Gramma"|       "567-89-0123"|          41.0| 80.0| 60.0| 40.0|    44.0|    "C"|
|  Android|   "Electric"|       "087-65-4321"|          42.0| 23.0| 36.0| 45.0|    47.0|   "B-"|
|  Bumpkin|       "Fred"|       "456-78-9012"|          43.0| 78.0| 88.0| 77.0|    45.0|   "A-"|
|   Rubble|      "Betty"|       "234-56-7890"|          44.0| 90.0| 80.0| 90.0|    46.0|   "C-"|
|   Noshow|      "Cecil"|       "345-67-8901"|          45.0| 11.0| -1.0|  4.0|    43.0|    "F"|
|     Buff|        "Bif"|        "632-79-9...|          46.0| 20.0| 30.0| 40.0|    50.0|   "B+"|
|  Airpump|     "Andrew"|       "223-45-6789"| 49.0      1.0| 90.0|100.0| 83.0|     "A"|   null|
|   Backus|        "Jim"|        "143-12-1...|          48.0|  1.0| 97.0| 96.0|    97.0|   "A+"|
|Carnivore|        "Art"|        "565-89-0...|          44.0|  1.0| 80.0| 60.0|    40.0|   "D+"|
|    Dandy|        "Jim"|        "087-75-4...|          47.0|  1.0| 23.0| 36.0|    45.0|   "C+"|
| Elephant|        "Ima"|        "456-71-9...|          45.0|  1.0| 78.0| 88.0|    77.0|   "B-"|
| Franklin|      "Benny"|       "234-56-2890"|          50.0|  1.0| 90.0| 80.0|    90.0|   "B-"|
|   George|        "Boy"|        "345-67-3...|          40.0|  1.0| 11.0| -1.0|     4.0|    "B"|
|Heffalump|     "Harvey"|       "632-79-9439"|          30.0|  1.0| 20.0| 30.0|    40.0|    "C"|
+---------+-------------+--------------------+--------------+-----+-----+-----+--------+-------+